.grid {
    display: flex;
    text-align: left;
    justify-content: center;
    flex-wrap: wrap;
}

.state {
    white-space: pre-line;
    border: 1px solid darkgray;
    border-radius: 10px;
    padding: 1rem 3rem;
}

.container {
    text-align: center;
}

.copyButton {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.copyButtonTooltip {
    visibility: hidden;
    width: 6rem;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: .4rem 0;
    opacity: 0.7;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -3rem;
}

.lockButton {
    margin-left: .4rem;
    background-color: #dc3545;
    color: white;
}

.unlockButton {
    margin-left: .4rem;
    background-color: #28a745;
    color: white;
}

.snapshotButton {
    margin-left: .4rem;
    background-color: #ffc107;
    color: black;
}

.whatsappButton {
    background-color: #198754;
    border-color: #198754;
}

.phoneButton {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.icon {
    filter: invert(1);
}