.grid {
    display: flex;
    text-align: left;
    justify-content: center;
    flex-wrap: wrap;
}

.state {
    border: 1px solid darkgray;
    border-radius: 10px;
    padding: 1rem 3rem;
}

.container {
    text-align: center;
}

.deleteButton {
    margin-left: .4rem;
    background-color: #dc3545;
    color: white;
}

.submitButton {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    
}

.formGroup {
    display: grid;
}

.form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 2rem;
}

.form label {
    margin-bottom: .2rem;
}

.whatsappButton {
    background-color: #198754;
    border-color: #198754;
}

.phoneButton {
    background-color: #0d6efd;
    border-color: #28a745;
}

.icon {
    filter: invert(1);
}